USE [master]
GO
/****** Object:  Database [SaiGonDental]    Script Date: 08/17/2013 00:18:41 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SaiGonDental')
BEGIN
CREATE DATABASE [SaiGonDental] ON  PRIMARY 
( NAME = N'SaiGonDental', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\SaiGonDental.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaiGonDental_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\SaiGonDental_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaiGonDental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\MSSQL$SQLEXPRESS]    Script Date: 08/17/2013 00:18:41 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\MSSQL$SQLEXPRESS')
CREATE LOGIN [NT SERVICE\MSSQL$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 08/17/2013 00:18:41 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\SYSTEM')
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [Nixforest-PC\Nixforest]    Script Date: 08/17/2013 00:18:41 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'Nixforest-PC\Nixforest')
CREATE LOGIN [Nixforest-PC\Nixforest] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Users]    Script Date: 08/17/2013 00:18:41 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'BUILTIN\Users')
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 08/17/2013 00:18:41 ******/
/* For security reasons the login is created disabled and with a random password. */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyTsqlExecutionLogin##')
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'<!PEv¡êÅF=Ûc¤·CWìÌq', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 08/17/2013 00:18:41 ******/
/* For security reasons the login is created disabled and with a random password. */
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'oIÀ8òh°þ³PÐÒÎKÝsÜ<òiçÊ¯(eÞÒg@', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
USE [SaiGonDental]
GO
/****** Object:  Table [dbo].[ACADEMIC]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACADEMIC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ACADEMIC](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_ACADEMIC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TREATMENTPLAN]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TREATMENTPLAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TREATMENTPLAN](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_TREATMENTPLAN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KNOWREASON]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KNOWREASON]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KNOWREASON](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_KNOWREASON] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[JOB]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JOB]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JOB](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_JOB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DISEASEBEFORE]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISEASEBEFORE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISEASEBEFORE](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_DISEASEBEFORE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPARTMENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DEPARTMENT](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CITY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CITY](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[STREET]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STREET]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[STREET](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_STREET] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RULE]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RULE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RULE](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_RULE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GROUP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GROUP](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRICT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRICT](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[CityId] [smallint] NOT NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[GROUP_DETAIL]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GROUP_DETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GROUP_DETAIL](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[GroupId] [smallint] NOT NULL,
	[RuleId] [smallint] NOT NULL,
 CONSTRAINT [PK_GROUP_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DISTRICT_DETAIL]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISTRICT_DETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISTRICT_DETAIL](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[DistrictId] [smallint] NOT NULL,
	[StreetId] [smallint] NOT NULL,
 CONSTRAINT [PK_DISTRICT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[WARD]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WARD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WARD](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[DistrictId] [smallint] NOT NULL,
 CONSTRAINT [PK_WARD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BRANCH]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BRANCH](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[CityId] [smallint] NOT NULL,
	[DistrictId] [smallint] NULL,
	[WardId] [smallint] NULL,
	[StreetId] [smallint] NULL,
	[AddressDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_BRANCH\] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CUSTOMER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CUSTOMER](
	[Id] [char](12) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Birthday] [smalldatetime] NULL,
	[Gender] [bit] NULL,
	[CityId] [smallint] NOT NULL,
	[DistrictId] [smallint] NOT NULL,
	[WardId] [smallint] NULL,
	[StreetId] [smallint] NULL,
	[AddressDetail] [nvarchar](max) NULL,
	[Phone] [varchar](70) NULL,
	[Email] [varchar](70) NULL,
	[JobId] [smallint] NOT NULL,
	[BranchId] [smallint] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMPLOYEE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Birthday] [smalldatetime] NULL,
	[Gender] [bit] NULL,
	[CityId] [smallint] NOT NULL,
	[DistrictId] [smallint] NOT NULL,
	[WardId] [smallint] NULL,
	[StreetId] [smallint] NULL,
	[AddressDetail] [nvarchar](max) NULL,
	[Phone] [varchar](70) NULL,
	[Email] [varchar](70) NULL,
	[DepartmentId] [smallint] NOT NULL,
	[AcademicId] [smallint] NOT NULL,
	[BranchId] [smallint] NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KNOWREASON_DETAIL]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KNOWREASON_DETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KNOWREASON_DETAIL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [char](12) NOT NULL,
	[KnowReasonId] [smallint] NOT NULL,
 CONSTRAINT [PK_KNOWREASON_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISEASEBEFORE_DETAIL]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DISEASEBEFORE_DETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DISEASEBEFORE_DETAIL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [char](12) NOT NULL,
	[DiseaseBeforeId] [smallint] NOT NULL,
 CONSTRAINT [PK_DISEASEBEFORE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TREATMENTDETAIL]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TREATMENTDETAIL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [smalldatetime] NULL,
	[Teeth] [varchar](50) NULL,
	[Treatment] [nvarchar](max) NULL,
	[Cost] [money] NULL,
	[Payment] [money] NULL,
	[ExamTime] [smallint] NULL,
	[CustomerId] [char](12) NOT NULL,
	[ReceptionistId] [int] NOT NULL,
	[DoctorId] [int] NULL,
	[AppointmentDate] [smalldatetime] NULL,
 CONSTRAINT [PK_TREATMENTDETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Phone] [varchar](70) NULL,
	[Email] [varchar](70) NULL,
	[EmployeeId] [int] NOT NULL,
	[GroupId] [smallint] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TREATMENTPROFILE]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TREATMENTPROFILE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TREATMENTPROFILE](
	[Id] [char](12) NOT NULL,
	[Date] [smalldatetime] NULL,
	[Reason] [nvarchar](max) NULL,
	[Request] [nvarchar](max) NULL,
	[Teeth] [varchar](50) NULL,
	[IsPanorex] [bit] NULL,
	[IsPhin] [bit] NULL,
	[CustomerId] [char](12) NOT NULL,
 CONSTRAINT [PK_TREATMENTPROFILE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TREATMENTPLAN_DETAIL]    Script Date: 08/17/2013 00:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TREATMENTPLAN_DETAIL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TREATMENTPLAN_DETAIL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [char](12) NOT NULL,
	[PlanId] [smallint] NOT NULL,
 CONSTRAINT [PK_TREATMENTPLAN_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_DISTRICT_CITY]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRICT_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRICT]'))
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_CITY] FOREIGN KEY([CityId])
REFERENCES [dbo].[CITY] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRICT_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRICT]'))
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [FK_DISTRICT_CITY]
GO
/****** Object:  ForeignKey [FK_GROUP_DETAIL_GROUP]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GROUP_DETAIL_GROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[GROUP_DETAIL]'))
ALTER TABLE [dbo].[GROUP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_DETAIL_GROUP] FOREIGN KEY([GroupId])
REFERENCES [dbo].[GROUP] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GROUP_DETAIL_GROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[GROUP_DETAIL]'))
ALTER TABLE [dbo].[GROUP_DETAIL] CHECK CONSTRAINT [FK_GROUP_DETAIL_GROUP]
GO
/****** Object:  ForeignKey [FK_GROUP_DETAIL_RULE]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GROUP_DETAIL_RULE]') AND parent_object_id = OBJECT_ID(N'[dbo].[GROUP_DETAIL]'))
ALTER TABLE [dbo].[GROUP_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_DETAIL_RULE] FOREIGN KEY([RuleId])
REFERENCES [dbo].[RULE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GROUP_DETAIL_RULE]') AND parent_object_id = OBJECT_ID(N'[dbo].[GROUP_DETAIL]'))
ALTER TABLE [dbo].[GROUP_DETAIL] CHECK CONSTRAINT [FK_GROUP_DETAIL_RULE]
GO
/****** Object:  ForeignKey [FK_DISTRICT_DETAIL_DISTRICT]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRICT_DETAIL_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRICT_DETAIL]'))
ALTER TABLE [dbo].[DISTRICT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_DETAIL_DISTRICT] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRICT_DETAIL_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRICT_DETAIL]'))
ALTER TABLE [dbo].[DISTRICT_DETAIL] CHECK CONSTRAINT [FK_DISTRICT_DETAIL_DISTRICT]
GO
/****** Object:  ForeignKey [FK_DISTRICT_DETAIL_STREET]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRICT_DETAIL_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRICT_DETAIL]'))
ALTER TABLE [dbo].[DISTRICT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_DETAIL_STREET] FOREIGN KEY([StreetId])
REFERENCES [dbo].[STREET] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISTRICT_DETAIL_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISTRICT_DETAIL]'))
ALTER TABLE [dbo].[DISTRICT_DETAIL] CHECK CONSTRAINT [FK_DISTRICT_DETAIL_STREET]
GO
/****** Object:  ForeignKey [FK_WARD_DISTRICT]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WARD_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[WARD]'))
ALTER TABLE [dbo].[WARD]  WITH CHECK ADD  CONSTRAINT [FK_WARD_DISTRICT] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WARD_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[WARD]'))
ALTER TABLE [dbo].[WARD] CHECK CONSTRAINT [FK_WARD_DISTRICT]
GO
/****** Object:  ForeignKey [FK_BRANCH_CITY]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_CITY] FOREIGN KEY([CityId])
REFERENCES [dbo].[CITY] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH] CHECK CONSTRAINT [FK_BRANCH_CITY]
GO
/****** Object:  ForeignKey [FK_BRANCH_DISTRICT]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_DISTRICT] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH] CHECK CONSTRAINT [FK_BRANCH_DISTRICT]
GO
/****** Object:  ForeignKey [FK_BRANCH_STREET]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_STREET] FOREIGN KEY([StreetId])
REFERENCES [dbo].[STREET] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH] CHECK CONSTRAINT [FK_BRANCH_STREET]
GO
/****** Object:  ForeignKey [FK_BRANCH_WARD]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_WARD]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_WARD] FOREIGN KEY([WardId])
REFERENCES [dbo].[WARD] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BRANCH_WARD]') AND parent_object_id = OBJECT_ID(N'[dbo].[BRANCH]'))
ALTER TABLE [dbo].[BRANCH] CHECK CONSTRAINT [FK_BRANCH_WARD]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_BRANCH]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_BRANCH] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BRANCH] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_BRANCH]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_CITY]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_CITY] FOREIGN KEY([CityId])
REFERENCES [dbo].[CITY] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_CITY]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_DISTRICT]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_DISTRICT] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_DISTRICT]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_JOB]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_JOB]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_JOB] FOREIGN KEY([JobId])
REFERENCES [dbo].[JOB] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_JOB]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_JOB]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_STREET]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_STREET] FOREIGN KEY([StreetId])
REFERENCES [dbo].[STREET] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_STREET]
GO
/****** Object:  ForeignKey [FK_CUSTOMER_WARD]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_WARD]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_WARD] FOREIGN KEY([WardId])
REFERENCES [dbo].[WARD] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CUSTOMER_WARD]') AND parent_object_id = OBJECT_ID(N'[dbo].[CUSTOMER]'))
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_WARD]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_ACADEMIC]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_ACADEMIC]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_ACADEMIC] FOREIGN KEY([AcademicId])
REFERENCES [dbo].[ACADEMIC] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_ACADEMIC]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_ACADEMIC]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_BRANCH]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_BRANCH] FOREIGN KEY([BranchId])
REFERENCES [dbo].[BRANCH] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_BRANCH]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_BRANCH]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_CITY]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_CITY] FOREIGN KEY([CityId])
REFERENCES [dbo].[CITY] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_CITY]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_CITY]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_DEPARTMENT]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_DEPARTMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_DEPARTMENT] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DEPARTMENT] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_DEPARTMENT]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_DEPARTMENT]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_DISTRICT]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_DISTRICT] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[DISTRICT] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_DISTRICT]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_DISTRICT]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_STREET]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_STREET] FOREIGN KEY([StreetId])
REFERENCES [dbo].[STREET] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_STREET]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_STREET]
GO
/****** Object:  ForeignKey [FK_EMPLOYEE_WARD]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_WARD]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_WARD] FOREIGN KEY([WardId])
REFERENCES [dbo].[WARD] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EMPLOYEE_WARD]') AND parent_object_id = OBJECT_ID(N'[dbo].[EMPLOYEE]'))
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_WARD]
GO
/****** Object:  ForeignKey [FK_KNOWREASON_DETAIL_CUSTOMER]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KNOWREASON_DETAIL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[KNOWREASON_DETAIL]'))
ALTER TABLE [dbo].[KNOWREASON_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_KNOWREASON_DETAIL_CUSTOMER] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CUSTOMER] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KNOWREASON_DETAIL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[KNOWREASON_DETAIL]'))
ALTER TABLE [dbo].[KNOWREASON_DETAIL] CHECK CONSTRAINT [FK_KNOWREASON_DETAIL_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_KNOWREASON_DETAIL_KNOWREASON]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KNOWREASON_DETAIL_KNOWREASON]') AND parent_object_id = OBJECT_ID(N'[dbo].[KNOWREASON_DETAIL]'))
ALTER TABLE [dbo].[KNOWREASON_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_KNOWREASON_DETAIL_KNOWREASON] FOREIGN KEY([KnowReasonId])
REFERENCES [dbo].[KNOWREASON] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_KNOWREASON_DETAIL_KNOWREASON]') AND parent_object_id = OBJECT_ID(N'[dbo].[KNOWREASON_DETAIL]'))
ALTER TABLE [dbo].[KNOWREASON_DETAIL] CHECK CONSTRAINT [FK_KNOWREASON_DETAIL_KNOWREASON]
GO
/****** Object:  ForeignKey [FK_DISEASEBEFORE_DETAIL_CUSTOMER]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISEASEBEFORE_DETAIL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISEASEBEFORE_DETAIL]'))
ALTER TABLE [dbo].[DISEASEBEFORE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_DISEASEBEFORE_DETAIL_CUSTOMER] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CUSTOMER] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISEASEBEFORE_DETAIL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISEASEBEFORE_DETAIL]'))
ALTER TABLE [dbo].[DISEASEBEFORE_DETAIL] CHECK CONSTRAINT [FK_DISEASEBEFORE_DETAIL_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_DISEASEBEFORE_DETAIL_DISEASEBEFORE]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISEASEBEFORE_DETAIL_DISEASEBEFORE]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISEASEBEFORE_DETAIL]'))
ALTER TABLE [dbo].[DISEASEBEFORE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_DISEASEBEFORE_DETAIL_DISEASEBEFORE] FOREIGN KEY([DiseaseBeforeId])
REFERENCES [dbo].[DISEASEBEFORE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DISEASEBEFORE_DETAIL_DISEASEBEFORE]') AND parent_object_id = OBJECT_ID(N'[dbo].[DISEASEBEFORE_DETAIL]'))
ALTER TABLE [dbo].[DISEASEBEFORE_DETAIL] CHECK CONSTRAINT [FK_DISEASEBEFORE_DETAIL_DISEASEBEFORE]
GO
/****** Object:  ForeignKey [FK_TREATMENTDETAIL_CUSTOMER]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTDETAIL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]'))
ALTER TABLE [dbo].[TREATMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENTDETAIL_CUSTOMER] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CUSTOMER] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTDETAIL_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]'))
ALTER TABLE [dbo].[TREATMENTDETAIL] CHECK CONSTRAINT [FK_TREATMENTDETAIL_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_TREATMENTDETAIL_EMPLOYEE]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTDETAIL_EMPLOYEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]'))
ALTER TABLE [dbo].[TREATMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENTDETAIL_EMPLOYEE] FOREIGN KEY([ReceptionistId])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTDETAIL_EMPLOYEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]'))
ALTER TABLE [dbo].[TREATMENTDETAIL] CHECK CONSTRAINT [FK_TREATMENTDETAIL_EMPLOYEE]
GO
/****** Object:  ForeignKey [FK_TREATMENTDETAIL_EMPLOYEE1]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTDETAIL_EMPLOYEE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]'))
ALTER TABLE [dbo].[TREATMENTDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENTDETAIL_EMPLOYEE1] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[EMPLOYEE] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTDETAIL_EMPLOYEE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTDETAIL]'))
ALTER TABLE [dbo].[TREATMENTDETAIL] CHECK CONSTRAINT [FK_TREATMENTDETAIL_EMPLOYEE1]
GO
/****** Object:  ForeignKey [FK_USER_EMPLOYEE]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USER_EMPLOYEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[USER]'))
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_EMPLOYEE] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EMPLOYEE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USER_EMPLOYEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[USER]'))
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_EMPLOYEE]
GO
/****** Object:  ForeignKey [FK_USER_GROUP]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USER_GROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[USER]'))
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_GROUP] FOREIGN KEY([GroupId])
REFERENCES [dbo].[GROUP] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_USER_GROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[USER]'))
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_GROUP]
GO
/****** Object:  ForeignKey [FK_TREATMENTPROFILE_CUSTOMER]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTPROFILE_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTPROFILE]'))
ALTER TABLE [dbo].[TREATMENTPROFILE]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENTPROFILE_CUSTOMER] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CUSTOMER] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTPROFILE_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTPROFILE]'))
ALTER TABLE [dbo].[TREATMENTPROFILE] CHECK CONSTRAINT [FK_TREATMENTPROFILE_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_TREATMENTPLAN_DETAIL_TREATMENTPLAN]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTPLAN_DETAIL_TREATMENTPLAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTPLAN_DETAIL]'))
ALTER TABLE [dbo].[TREATMENTPLAN_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENTPLAN_DETAIL_TREATMENTPLAN] FOREIGN KEY([PlanId])
REFERENCES [dbo].[TREATMENTPLAN] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTPLAN_DETAIL_TREATMENTPLAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTPLAN_DETAIL]'))
ALTER TABLE [dbo].[TREATMENTPLAN_DETAIL] CHECK CONSTRAINT [FK_TREATMENTPLAN_DETAIL_TREATMENTPLAN]
GO
/****** Object:  ForeignKey [FK_TREATMENTPLAN_DETAIL_TREATMENTPROFILE]    Script Date: 08/17/2013 00:18:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTPLAN_DETAIL_TREATMENTPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTPLAN_DETAIL]'))
ALTER TABLE [dbo].[TREATMENTPLAN_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TREATMENTPLAN_DETAIL_TREATMENTPROFILE] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[TREATMENTPROFILE] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TREATMENTPLAN_DETAIL_TREATMENTPROFILE]') AND parent_object_id = OBJECT_ID(N'[dbo].[TREATMENTPLAN_DETAIL]'))
ALTER TABLE [dbo].[TREATMENTPLAN_DETAIL] CHECK CONSTRAINT [FK_TREATMENTPLAN_DETAIL_TREATMENTPROFILE]
GO
